{% extends "base.html" %}

{% block titulo %} Lista de empleados {% endblock %}

{% block contenido %}
<h1>Lista de Empleados</h1>

<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>DNI</th>
            <th>Email</th>
            <th>Telefono</th>
            <th>Proceso</th>
        </tr>
    </thead>
    <tbody>
    {% for empleado in empleados %}
        <tr>
            <td>{{ empleado.nombre }}</td>
            <td>{{ empleado.apellidos }}</td>
            <td>{{ empleado.DNI }}</td>
            <td>{{ empleado.email }}</td>
            <td>{{ empleado.telfono }}</td>
            <td>{{ empleado.FKidProcesp }}</td>
            
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}