<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>{% block titulo %}Deustubular SL{% endblock %}</title>

</head>

<body>
    {% load static %}
    <header>
        <ul>
            <a href="/ ">
                <img src="{% static 'img/DEUSTUBULARSL.jpg' %}" alt="Logo" height="50px" width="130px">
            </a>

            <li><a href="http://127.0.0.1:8000/2/create">Nuevo Empleado</a></li>
            <li><a href="http://127.0.0.1:8000/3/create">Nuevo Equipo</a></li>
            <li><a href="http://127.0.0.1:8000/4/create">Nuevo Proceso</a></li>
            <li><a href="http://127.0.0.1:8000/eliminar">Eliminar</a></li>
            <li><a href="http://127.0.0.1:8000/1">Mostrar Empleados</a></li>
            <li><a href="http://127.0.0.1:8000/4">Mostrar Equipos</a></li>
            <li><a href="http://127.0.0.1:8000/2">Mostrar Procesos</a></li>
        </ul>
        <hr>
    </header>
    <main>
        {% block contenido %}
        {% endblock %}
    </main>
    <footer>
        <div class="tema-control">
            <p>Haz click para cambiar de estilo</p>
            <button onclick="cambiarTema()">Cambiar</button>
            <p>Haz click para aumentar o disminuir el tamaño de la letra</p>
                <button onclick="return cambiarTexto('+')">+</button>
                <button onclick="return cambiarTexto('-')">-</button>
                <script src="/static/JS/boton.js"></script>
                <script src="/static/JS/tema.js"></script>
                </div>
            </div>
            <hr>
            <div>
                
                <div class="contacto">
                    <h3>Contacto</h3>
                    <p>Correo electrónico: deustulubar@gmail.com</p>
                    <p>Teléfono: +34 944 334 394</p>
                    <p>Dirección: 4 Calle Deusto, Bilbao</p>
                    <p><a href="{% url 'enviar_correo' %}">Contacta con Nosotros</a></p>
                    <hr>
                    <p>© 2023 Todos los derechos reservados</p>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>