{% extends 'base.html' %}
<!--
HTML para mostrar una los detalles de un empleado
-->
{% block titulo %} Detalle de empleados {% endblock %}
{% block contenido %}
<h1>Detalles del empleado</h1>
<p><strong>Nombre:</strong> {{ empleado.nombre }} {{ empleado.apellidos }}</p>
<p><strong>DNI:</strong> {{ empleado.DNI }}</p>
<p><strong>Email:</strong> {{ empleado.email }}</p>
<p><strong>Teléfono:</strong> {{ empleado.telfono }}</p>
<p><strong>Proceso:</strong> <a href="{% url 'detalle_proceso' empleado.FKidProcesp.pk %}">{{ empleado.FKidProcesp }}</a></p>
{% endblock %}