{% extends "base.html" %}

{% block titulo %} Lista de empleados {% endblock %}

{% block contenido %}
  <h1>Lista de Empleados</h1>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>DNI</th>
        <th>Proceso</th>
        <th>Detalle</th>
      </tr>
    </thead>
    <tbody id="empleados-body">
      <!-- Aquí se agregarán dinámicamente las filas de empleados -->
    </tbody>
  </table>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/static/JS/DOMmostrar.js"></script>
  {% endblock %}





