{% extends "base.html" %}

{% block titulo %} Enviar email {% endblock %}

{% block contenido %}
{% load static %}
<form action="{% url 'enviar_correo' %}" method="post" class="emaiForm">
    <h3>Enviar email</h3>
    {% csrf_token %}
    <label for="asunto">Asunto:</label>
    <input type="text" id="asunto" name="asunto" required>
    
    <label for="cuerpo">Cuerpo:</label>
    <textarea id="cuerpo" name="cuerpo" required></textarea>
    
    <label for="remitente">Remitente:</label>
    <input type="email" id="remitente" name="remitente" required>
    
    <label for="destinatario">Destinatario:</label>
    <input type="email" id="destinatario" name="destinatario" required>
    
    <input type="submit" value="Enviar">
  </form>
  {% endblock %}