{% extends "base.html" %}

{% block titulo %} Lista de equipos {% endblock %}

{% block contenido %}
<h1>Lista de equipos</h1>
<form method="GET" action="{% url 'filtrar_equipos' %}" class="filtro-form">
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" name="nombre" id="nombre" class="form-control">
    </div>
  
    <div class="form-group">
      <label for="modelo">Modelo:</label>
      <input type="text" name="modelo" id="modelo" class="form-control">
    </div>
  
    <button type="submit" class="btn btn-primary">Filtrar</button>
  </form>
<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Modelo</th>
            <th>Fecha de Adquisicion</th>
            <th>Fecha de Instalacion</th>
            <th>Categoria</th>
            <th>Procesos</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for equipo in equipos %}
        <tr>
            <td>{{ equipo.nombre }}</a></td>
            <td>{{ equipo.modelo }}</td>
            <td>{{ equipo.fechaAdquisicion}}</td>
            <td>{{ equipo.fechaInstalacion }}</td>
            <td>{{ equipo.categoria }}</td>
            <td>
              {% if equipo.procesos.all %}
                  {% for proceso in equipo.procesos.all %}
                      {{ proceso.nombre }}
                  {% endfor %}
              {% else %}
                  Sin asignar
              {% endif %}
          </td>
        </tr>
        {% empty %}
        <tr>
          <td>No se encontraron resultados</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}