{% extends 'base.html' %}
<!--
HTML para mostrar una los detalles de un empleado
-->
{% block titulo %} Detalle de equipos {% endblock %}
{% block contenido %}
<h1>Detalles del equipo</h1>
<p><strong>Nombre:</strong> {{ equipo.nombre }}</p>
<thead>
    <tr>
      <th>Nombre</th>
      <th>Apellidos</th>
    </tr>
  </thead>
  <tbody>
    {% for proceso in procesos %}
    {% if equipo.FKidEquipo.nombre == proceso.nombre %}
    <tr>
      <td>{{ proceso.nombre }}</td>
    </tr>

    {% endif %}
    {% endfor %}
  </tbody>
</table>
{% endblock %}