{% extends "base.html" %}

{% block titulo %} Equipos {% endblock %}

{% block contenido %}

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Modelo</th>
      <th>Fecha en la que adquirio</th>
      <th>Fecha en la que se instalo </th>
      <th>Categoria de el equipo</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for e in equipos %}
    <tr>
      <td>{{ e.nombre }}</td>
      <td>{{ e.modelo }}</td>
      <td>{{ e.fechaAdquisicion }}</td>
      <td>{{ e.fechaInstalacion }}</td>
      <td>{{ e.categoria }}</td>
      <td>
        <form action="{% url 'eliminar_equipo' e.id %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Eliminar</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}