{% extends 'base.html' %}
{% block titulo %} Proceso detalle {% endblock %}
{% block contenido %}
<h1>{{ proceso.nombre }}</h1>
<p><strong>Código de Fabricación: </strong>{{ proceso.ordenFabricacion }}</p>
<p><strong>Código de Proceso: </strong>{{ proceso.codigoProceso }}</p>
<p><strong>Referencia: </strong>{{ proceso.referencia }}</p>
<p><strong>Fecha de Inicio:</strong> {{ proceso.fechaIni }}</p>
<p><strong>Fecha de Fin:</strong> {{ proceso.fechaFin }}</p>
<p><strong>Equipo asociado: </strong>{{ proceso.FKidEquipo }}</p>
<h3><strong>Trabajadores en este proceso: </h3>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellidos</th>
    </tr>
  </thead>
  <tbody>
    {% for empleado in empleados %}
    {% if empleado.FKidProcesp.nombre == proceso.nombre %}
    <tr>
      <td>{{ empleado.nombre }}</td>
      <td>{{ empleado.apellidos }}</td>
    </tr>

    {% endif %}
    {% endfor %}
  </tbody>
</table>
{% endblock %}