<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="style.css">
        <title>{% block titulo %}Deustubular SL{% endblock %}</title>
    </head>
    <body>
        <header>
	        <h1 style="color:rgb(0, 81, 255)">Deustubular SL</h1>
            <h2>Menú:</h2>
            <ul>
                <li><a href="/DeustubularSL_app">Pagina de inicio</a></li>
                <li><a href="http://127.0.0.1:8000/DeustubularSL_app/2/create">Nuevo Empleado</a></li>
                <li><a href="http://127.0.0.1:8000/DeustubularSL_app/3/create">Nuevo Equipo</a></li>
                <li><a href="http://127.0.0.1:8000/DeustubularSL_app/4/create">Nuevo Proceso</a></li>
                <li><a href="http://127.0.0.1:8000/DeustubularSL_app/eliminar">Eliminar</a></li>
                <li><a href="http://127.0.0.1:8000/DeustubularSL_app/1">Mostrar Empleados</a></li>
                <li><a href="http://127.0.0.1:8000/DeustubularSL_app/4">Mostrar Equipos</a></li>
                <li><a href="http://127.0.0.1:8000/DeustubularSL_app/2">Mostrar Procesos</a></li>

               <!-- <li><a href="/appEmpresaDjango/empleados/create">Crear empleado</a></li>
                

                -->
            </ul>
            <hr>
        </header>
        <main>
            {% block contenido %}{% endblock %}
        </main>
        <footer id="miLink">
            <hr>
            <p>Aplicación desarrollada en Ingeniería Web</p>
        </footer>
    </body>
</html>